<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <h2>Explore the Fascinating world of Exoplanets!</h2>
    <p>Discover the wonders of planets beyond our solar system. 
        Learn about their characteristics, how they are discovered, and more!</p>
</body>