<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <section id="hero">
        <div class="hero-content">
            <h2>Explore the Fascinating World of Exoplanets</h2>
            <p>Discover the wonders of planets beyond our solar system. Learn about their characteristics, how they are discovered, and more!</p>
            
            <button onclick="window.location.href='downloadddddd/story_prompt.html'">Lets Explore</button>
            
        </div>
    </section>
</body>